<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ztech.lodgeme">

    <application
        android:allowBackup="false"
        tools:replace="android:label, android:allowBackup"
        android:icon="@mipmap/lm_ic"
        android:label="PropertyLister"
        android:roundIcon="@mipmap/lm_round_ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.ztech.propertylister.Splash">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name="com.ztech.propertylister.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="example.com"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity android:name="com.ztech.propertylister.AgentSignup"/>
        <activity android:name="com.ztech.propertylister.MainActivity" />
        <activity android:name="com.ztech.propertylister.ProfileSelectionActivity" />
        <activity android:name="com.ztech.propertylister.StepperActivity" />
        <activity android:name="com.ztech.propertylister.GuestSignup" />
        <activity android:name="com.ztech.propertylister.GuestProfileMenu" />
        <activity android:name="com.ztech.propertylister.AgentDashboard" />
        <activity android:name="com.ztech.propertylister.AgentProfileMenu" />
        <activity android:name="com.ztech.propertylister.GuestMapNavigation" />


    </application>
</manifest>